<div class="row">
  <div class="col-12 col-xl-12 stretch-card">
    <div class="row flex-grow-1">
      <div class="col-md-2 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-baseline">
              <h3 class="cateprod"><i class="mdi mdi-calendar-clock"></i>
                {{dateTime |async| date:'medium' }}</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2 grid-margin stretch-card" type="button"
        routerLink="/Categories">
        <div class="card">
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-baseline">
              <h3>Catégories</h3>
            </div>
            <div class="row">
              <div class="col-6 col-md-12 col-xl-5 cateprod">
                <h1 class="mb-2 mt-3">8</h1>
                <div class="d-flex align-items-baseline">
                  <p class="text-success">
                  </p>
                </div>
              </div>
              <div class="col-6 col-md-12 col-xl-7">
                <i class="feather icon-package icc"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2 grid-margin stretch-card" type="button"
        routerLink="/Brands">
        <div class="card">
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-baseline">
              <h3>Brands</h3>
            </div>
            <div class="row">
              <div class="col-6 col-md-12 col-xl-5 cateprod">
                <h1 class="mb-2 mt-3">8</h1>
                <div class="d-flex align-items-baseline">
                  <p class="text-success">
                  </p>
                </div>
              </div>
              <div class="col-6 col-md-12 col-xl-7">
                <i class="feather icon-bold icc"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2 grid-margin stretch-card" type="button"
        routerLink="/Products">
        <div class="card">
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-baseline">
              <h3>Produits</h3>
            </div>
            <div class="row">
              <div class="col-6 col-md-12 col-xl-5 cateprod">
                <h1 class="mb-2 mt-3">8</h1>
                <div class="d-flex align-items-baseline">
                  <p class="text-success">
                  </p>
                </div>
              </div>
              <div class="col-6 col-md-12 col-xl-7">
                <i class="feather icon-tag icc"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2 grid-margin stretch-card" type="button"
        routerLink="/Clients">
        <div class="card">
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-baseline">
              <h3>Clients</h3>
            </div>
            <div class="row">
              <div class="col-6 col-md-12 col-xl-5 cateprod">
                <h1 class="mb-2 mt-3">8</h1>
                <div class="d-flex align-items-baseline">
                  <p class="text-success">
                  </p>
                </div>
              </div>
              <div class="col-6 col-md-12 col-xl-7">
                <i class="feather icon-user-check icc"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2 grid-margin stretch-card" type="button"
        routerLink="/Newsletter">
        <div class="card">
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-baseline">
              <h3>Newsletter</h3>
            </div>
            <div class="row">
              <div class="col-6 col-md-12 col-xl-5 cateprod">
                <h1 class="mb-2 mt-3">8</h1>
                <div class="d-flex align-items-baseline">
                  <p class="text-success">
                  </p>
                </div>
              </div>
              <div class="col-6 col-md-12 col-xl-7">
                <i class="mdi mdi-email-open icc"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-5 col-xl-4 grid-margin grid-margin-xl-0 stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="d-flex justify-content-between align-items-baseline mb-2">
          <h6 class="card-title mb-0">Clients
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            Nombre de Commandes</h6>
        </div>
        <div class="d-flex flex-column mt-5">
          <a href="" (click)="false" class="d-flex align-items-center
            border-bottom pb-3">
            <div class="me-3">
            </div>
            <div class="w-100">
              <div class="d-flex justify-content-between">
                <h6 class="text-body mb-2">Leonardo Payne</h6>
                <p class="text-muted tx-12">12.30 PM</p>
              </div>
            </div>
          </a>
          <a href="" (click)="false" class="d-flex align-items-center
            border-bottom py-3">
            <div class="me-3">
            </div>
            <div class="w-100">
              <div class="d-flex justify-content-between">
                <h6 class="text-body mb-2">Carl Henson</h6>
                <p class="text-muted tx-12">02.14 AM</p>
              </div>
              <p class="text-muted tx-13">I've finished it! See you so..</p>
            </div>
          </a>
          <a href="" (click)="false" class="d-flex align-items-center
            border-bottom py-3">
            <div class="me-3">
            </div>
            <div class="w-100">
              <div class="d-flex justify-content-between">
                <h6 class="text-body mb-2">Jensen Combs</h6>
                <p class="text-muted tx-12">08.22 PM</p>
              </div>
              <p class="text-muted tx-13">This template is awesome!</p>
            </div>
          </a>
          <a href="" (click)="false" class="d-flex align-items-center
            border-bottom py-3">
            <div class="me-3">
            </div>
            <div class="w-100">
              <div class="d-flex justify-content-between">
                <h6 class="text-body mb-2">Amiah Burton</h6>
                <p class="text-muted tx-12">05.49 AM</p>
              </div>
              <p class="text-muted tx-13">Nice to meet you</p>
            </div>
          </a>
          <a href="" (click)="false" class="d-flex align-items-center
            border-bottom py-3">
            <div class="me-3">
            </div>
            <div class="w-100">
              <div class="d-flex justify-content-between">
                <h6 class="text-body mb-2">Yaretzi Mayo</h6>
                <p class="text-muted tx-12">01.19 AM</p>
              </div>
              <p class="text-muted tx-13">Hey! there I'm available...</p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-7 col-xl-8 stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="d-flex justify-content-between align-items-baseline mb-2">
          <h6 class="card-title mb-0">Commandes</h6>
        </div>
        <div class="table-responsive">
          <table class="table table-hover mb-0">
            <thead>
              <tr>
                <th class="pt-0">#</th>
                <th class="pt-0">Project Name</th>
                <th class="pt-0">Start Date</th>
                <th class="pt-0">Due Date</th>
                <th class="pt-0">Status</th>
                <th class="pt-0">Assign</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>NobleUI jQuery</td>
                <td>01/01/2022</td>
                <td>26/04/2022</td>
                <td><span class="badge bg-danger">Released</span></td>
                <td>Leonardo Payne</td>
              </tr>
              <tr>
                <td>2</td>
                <td>NobleUI Angular</td>
                <td>01/01/2022</td>
                <td>26/04/2022</td>
                <td><span class="badge bg-success">Review</span></td>
                <td>Carl Henson</td>
              </tr>
              <tr>
                <td>3</td>
                <td>NobleUI ReactJs</td>
                <td>01/05/2022</td>
                <td>10/09/2022</td>
                <td><span class="badge bg-info">Pending</span></td>
                <td>Jensen Combs</td>
              </tr>
              <tr>
                <td>4</td>
                <td>NobleUI VueJs</td>
                <td>01/01/2022</td>
                <td>31/11/2022</td>
                <td><span class="badge bg-warning">Work in Progress</span>
                </td>
                <td>Amiah Burton</td>
              </tr>
              <tr>
                <td>5</td>
                <td>NobleUI Laravel</td>
                <td>01/01/2022</td>
                <td>31/12/2022</td>
                <td><span class="badge bg-danger text-white">Coming soon</span></td>
                <td>Yaretzi Mayo</td>
              </tr>
              <tr>
                <td>6</td>
                <td>NobleUI NodeJs</td>
                <td>01/01/2022</td>
                <td>31/12/2022</td>
                <td><span class="badge bg-primary">Coming soon</span></td>
                <td>Carl Henson</td>
              </tr>
              <tr>
                <td class="border-bottom">3</td>
                <td class="border-bottom">NobleUI EmberJs</td>
                <td class="border-bottom">01/05/2022</td>
                <td class="border-bottom">10/11/2022</td>
                <td class="border-bottom"><span class="badge bg-info">Pending</span></td>
                <td class="border-bottom">Jensen Combs</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div> <!-- row -->
